body {
    background-size: cover;
    background-color: #EBD8D5;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}